<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
        xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:bowl-pub.properties</value>
                <value>classpath:event-hall.properties</value>
                <value>classpath:lounge-zone.properties</value>
                <value>classpath:plaza.properties</value>
                <value>classpath:luck.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    
    <bean id="event" class="com.epam.spring.core.model.Event" scope="prototype" />
    
    <!-- Services -->
    
    <bean id="auditoriumService" class="com.epam.spring.core.service.impl.AuditoriumServiceImpl" autowire="byType"/>
    <bean id="bookingService" class="com.epam.spring.core.service.impl.BookingServiceImpl" autowire="byType"/>
    <bean id="eventService" class="com.epam.spring.core.service.impl.EventServiceImpl" autowire="byType"/>
    <bean id="userService" class="com.epam.spring.core.service.impl.UserServiceImpl" autowire="byType"/>
    <bean id="eventStatisticService" class="com.epam.spring.core.service.impl.EventStatisticServiceImpl" autowire="byType"/>
    <bean id="discountStatisticService" class="com.epam.spring.core.service.impl.DiscountStatisticServiceImpl" autowire="byType"/>
    
    
    <!-- end services -->
    

    <import resource="strategies.xml" />
    <import resource="db-dao.xml" />
    <!--<import resource="aspects.xml" />-->

</beans>